

.item-a {
    grid-area: header;
    text-align: center;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: sidebar;
}

.item-d {
    grid-area: footer;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
    grid-gap: 2vw;
}

.card_container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-gap: 2vw;
}

.card_container div {
    font-size: 30px;
    padding: 5px;
    background: gold;
    text-align: center;
}

.buttons_div{
    padding-top: 75px;
}

.button_nieuwspel{
    padding-top: 50px;
}

.buttons { 
    width: 100px;
    table-layout: fixed;
    border-collapse: collapse;
}

.buttons button { 
    width: 100%;
}

/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
} */

.meter {
    height: 20px;  
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#card1 {
    
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    margin: 5px;
    text-align: center;
}