body {
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Helvetica;
    font-size: small;
}

/* First column */
.main {
    flex: 1.5;
    max-width: 100vw;
    text-align: center;
}

.meter {
    /* Position */
    grid-column: 1/7;
    justify-self: center;
    grid-row: 0;
    flex: 2;

    /* Style */
    width: calc(500px/3);
    max-width: 30vw;
    height: 3vw;
    max-height: 20px;

    background: #79A65A !important;
    border: medium #DDDDDD solid;
    box-shadow: 1px 1px 1px #888888;
    /* padding: 5px !important; */
    /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3) !important;  */
}

.game {
    /* Outer layout */
    grid-column: 1;
    grid-row: 2;
    
    /* Inner layout */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;

    /* Style */
    flex: 1;
    width: 500px;
    height: 500px;
    max-width: 90vw;
    max-height: 90vw;

    /* Centers the grid */
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.game div {
    /* To center text */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Font options */
    color: white;
    font-weight: bold;

    /* Make the grid items green and squared */
    aspect-ratio: 1;

    perspective: 800px;
}

/* kaarten --------------- */
.kaart {
    border-radius: 10%;
    backface-visibility: hidden;
    background-color: #538324;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.toggleCard {
    transform: rotateY(180deg);
}

.kaart--front {
    position: absolute;
    background-color: crimson;
    width: 100%;
    height: 100%;
}

.kaart--back {
    position: absolute;
    background-color: slateblue;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}

/* Second column --------- */
.sidebar {
    flex: 1;
    max-width: 300vw;

    padding: 3%;
    margin-top: 10%;
}

/* buttons -------------- */

.buttons_div {
    padding-top: 75px;
}

.button_nieuwspel {
    padding-top: 50px;
}

.buttons {
    width: 100px;
    table-layout: auto;
}

.buttons button {
    width: 100%;
    margin-top: 5px;
}

/* Kleuren selectors ---- */

.kleur-gesloten {
    width: 100%;
    padding-left: 250px;
}

.kleur-open {
    width: 100%;
    padding-left: 250px;
}

.kleur-gevonden {
    width: 100%;
    padding-left: 250px;
    box-shadow: 1px 1px 1px #888888;
}


/* dark mode ------------ */
.dark-mode {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
}

.button_darkmode {
    padding: 10px;
}





