body {
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

/* First column */
.main {
    flex: 2;
    text-align: center;
}

.game {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* Style */
    width: 500px;
    height: 520px;  /* Gameboard 500px + meter 20px */

    /* Mobile accessibility */
    max-width: 90vw;
    max-height: 90vh; 

    /* Centers the grid */
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.meter {
    /* Position */
    grid-column: 1 / -1;
    justify-self: center;

    /* Style */
    width: calc(500px/3);
    max-width: 30vw;
    height: 3vw;
    max-height: 20px;

    background: #79A65A !important;
    border: medium #DDDDDD solid;
    box-shadow: 1px 1px 1px #888888;
    /* padding: 5px !important; */
    /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3) !important;  */
}

.game div {
    /* To center text */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Font options */
    color: white;
    font-weight: bold;

    /* Make the grid items green and squared */
    aspect-ratio: 1;

    /* perspective: 800px; */
}

/* kaarten --------------- */
.kaart {
    border-radius: 10%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: scale(1);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.kaart:active {
    transform: scale(0.97);
    transition: transform .5s;
}

.kaart img {
    max-height:100%; max-width:100%;
}

.toggleCard {
    transform: rotateY(180deg);
}

.kaart--front {
    position: absolute;
    
    width: 100%;
    height: 100%;
}

.kaart--back {
    position: absolute;
    
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}


/* Second column --------- */
.sidebar {
    flex: 1;
    max-width: 300vw;

    padding: 3%;
    margin-top: 10%;
}

.sidebar select {
    text-align: center;
}

/* buttons -------------- */
.buttons_div {
    padding-top: 75px;
}

.button_nieuwspel {
    padding-top: 50px;
}

.buttons {
    width: 100px;
    table-layout: auto;
}

.buttons button {
    width: 100%;
    margin-top: 5px;
}

/* Kleuren selectors ---- */
.kleur-gesloten {
    width: 100%;
    padding-left: 50px;
}

.kleur-open {
    width: 100%;
    padding-left: 50px;
}

.kleur-gevonden {
    width: 100%;
    padding-left: 50px;
}

.popup {
    display: block !important;
    flex-direction: row !important;
    width: 275px;
    background: #fff;
    opacity: 80%;
    position: absolute;
    border-radius: 10%;

    top: calc(50% + 20px) ;
    left: 50%;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    transition: transform 0.4s, top 0.4s;
    transform: translate(-50%, -50%) scale(1);
}


.popup h2 {
    color: #020024;
    font-size: 38px;
    font-weight: 500;
}

.popup p {

    color: #020024;
}

/* dark mode ------------ */
.dark-mode {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
}

.button_darkmode {
    padding: 10px;
}

/* timer ------------ */
.timer {
    font-size: 25px;
}