<mat-toolbar>
    <span>Memory Statistacs</span>
    <span class="example-spacer"></span>
    <button routerLink="" mat-stroked-button>Home</button>
    <button routerLink="players" mat-stroked-button>Players</button>
    <button routerLink="aggregate" mat-stroked-button>Aggregate</button>
    <span class="example-spacer1"></span>
    <button routerLink="login" mat-stroked-button>Login</button>
    <button (click)="logout()" mat-stroked-button>Logout</button>
    <span class="example-spacer"></span>
</mat-toolbar>